body {
    font-family: raleway;
}

.table-of-contents {
    position: fixed;
}

nav ul li a:hover {
   background-color: cyan;
}

#logo {
    margin-top: 10;
    margin-left: 10;
    height: 44;
    width: 44;
}

#title {
    display: inline-block;
    padding-left: 10px;
}

#download-label {
    color: white;
    text-align: center;
}

#apple-link {
    text-align: right;
}
.parallax-container {
  height: 350px;
}
